.card {
  width: auto;
  max-width: 500px;

  -webkit-animation: fadeinout 0.35s linear forwards;
  animation: fadeinout 0.35s linear forwards;
  opacity: 0;
  margin: auto;
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
