.pivotTable {
  display: inline-table;
  color: rgb(36, 36, 36);
  font-size: 20px;
  text-align: center;
  border-collapse: collapse;
  table-layout: auto;
  overflow: auto;
  margin-left: 2em;
  width: auto;

  -webkit-animation: fadeinout 0.35s linear forwards;
  animation: fadeinout 0.35s linear forwards;
  opacity: 0;
}

.pivotTable th {
  color: rgb(4, 0, 61);
  height: 2vh;
  border: 0.8px solid #aaaaaa;
  background-color: #cbeed7;
}

.pivotTable td:hover {
  background-color: #f5f5f5;
}
.pivotTable td {
  border: 0.5px solid #c9c9c9;
  width: 123px;
}
.pivotTable thead {
  display: block;
}
.pivotTable tbody {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.pivotTable tbody::-webkit-scrollbar {
  display: none;
}

.item {
  font-size: 40px;
}

.spec_btn {
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0);
}

.spec_title {
  font-size: 25px;
  padding: 0.3em;
  background-color: #aee0c0 !important;
}

.spec_th1_title {
  font-size: 25px;
  padding: 0.3em;
  background-color: #aee0c0 !important;
  border: 1px #4d4d4d solid !important;
}

.spec_th2_title {
  font-size: 25px;
  width: 123px;
  padding: 0.3em;
  background-color: #aee0c0 !important;
  border: 1px #4d4d4d solid !important;
}

.spec_th1 {
  width: 120px !important;
  height: 2vh !important;
  font-size: 18px !important;
}
.spec_th2 {
  width: 120px !important;
  height: 2vh !important;
  font-size: 18px !important;
}

.barcode_table {
  float: right;
  margin: auto;
  width: 30%;
  -webkit-animation: fadeinout 0.35s linear forwards;
  animation: fadeinout 0.35s linear forwards;
  opacity: 0;
}

.detail {
  font-size: 24px;
  display: grid;
}

.cancelFade {
  -webkit-animation: none !important;
  animation: none !important;
  opacity: 1 !important;
}

.fade {
  -webkit-animation: fadeinout 0.35s linear forwards;
  animation: fadeinout 0.35s linear forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1080px) {
  .pivotTable {
    display: inline-block;
    margin-left: 0em;
    margin-right: 0em;
  }
  .barcode_table {
    float: none;
    margin: auto;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .spec_btn {
    width: 80px;
  }
  .pivotTable td {
    width: 85px;
  }
  .spec_th2_title {
    padding: 0px 37px;
  }
  .spec_th2 {
    width: 100px !important;
  }
}
