.tab {
  margin-left: 3em;
}

.tabCard {
  width: 150px;
  height: 50px;
  text-align: center;
  margin-left: 3em;
}

.div_mode {
  display: flex;
  margin-top: 2em;
}

.editmode {
  float: right;
}

@media screen and (max-width: 1080px) {
  .tab {
    margin-left: 0em;
    margin-right: 0em;
  }
  .tabCard {
    width: 100%;
    margin-left: 0em;
  }
}
