.rightMenu {
  width: 300px;
  -webkit-animation: fadeinout 0.35s linear forwards;
  animation: fadeinout 0.35s linear forwards;
  opacity: 0;
}

.navBar {
  position: "fixed";
  width: "100%";
  z-index: 1;
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
